{% extends 'dashbord/index.html'%}
{% block header%}
<h1>INFORMATION ABOUT THE  USER :{{user.username}}<h1>
<h1>id: {{user.id}}</h1>
<h1>last_login: {{user.last_login}}</h1>
<h1>is_superuser: {{user.is_superuser}}</h1>
<h1>username: {{user.username}}</h1>
<h1>email: {{user.email}}</h1>
<h1>is_staff: {{user.is_staff}}</h1>
<h1>is_active: {{user.is_active}}</h1>
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'register' %}">register</a>
{% endif%}
{%endblock%}
{% block content%}
{% endblock %}